body {
    background-color: #000000 !important;
}
h1, h5 {
    justify-content: center;
    align-items: center;
   
    color: white !important;
}
.go {
    justify-content: center;
    align-items: center;
  
}
.back {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
p {
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    color: white !important;
}
.guess {
    width: 100%;
    display: flex;
    justify-content: space-around; 
    color: white !important;
}